<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042149319696-a230uq82r0hre5jqsvmi92nhj6e5qo1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042149319696-a230uq82r0hre5jqsvmi92nhj6e5qo1c</string>
	<key>API_KEY</key>
	<string>AIzaSyCE2NXk3CaVZo3AZE4tQvTCD0G5Ca86XrY</string>
	<key>GCM_SENDER_ID</key>
	<string>1042149319696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demologin</string>
	<key>PROJECT_ID</key>
	<string>demologin-e9ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>demologin-e9ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042149319696:ios:41a3d8fd3a8dc3c44b1695</string>
</dict>
</plist>